<head>
  <title>UtbmStore</title>
</head>


<div *ngFor="let product of products">
  <div class="card" style="width: 18rem;">
      <h5 class="card-header">{{product.name}} </h5>
      <img src={{product.image}} class="card-img-top">
      <div class="card-body">
        <p class="card-text">Description : {{product.description}}</p>
        <p class="card-text">Price : {{product.price}}</p>
        <a href="https://www.youtube.com/watch?v=kzQpiJjdprQ" class="btn btn-primary">Buy Me !</a>
      </div>
  </div>

</div>



