<head>
  <title>UtbmStore</title>
</head>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://s3.amazonaws.com/s3.mp-cdn.net/38/a9/a00fff3e7351b98b0911e76d9fab-are-platypus-adorable.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    #Papuche
  </a>
</nav>

<br> </br>

<body>


	<div class="card-deck">
		<div *ngFor="let product of products">
		  <div class="card text-white bg-dark mb-3" style="width: 18rem;">
			  <h5 class="card-header">{{product.name}} </h5>
			  <img src={{product.image}} class="card-img-top">
			  <div class="card-body">
				<p class="card-text">Description : {{product.description}}</p>
				<p class="card-text">Price : {{product.price}}</p>
				<a href="https://www.youtube.com/watch?v=kzQpiJjdprQ" class="btn btn-primary">Buy Me !</a>
			  </div>
		  </div>

		</div>
	</div>
	


</body>